@charset "UTF-8";

@import "./normalize.scss";

@import "./modules/functions.scss";
@import "./modules/mqbp.scss";
@import "./modules/variables.scss";

html {
  color: #fff;
  background-color: $background;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  ::-moz-selection {
    color: $background;
    background: #fff;
  }

  ::selection {
    color: $background;
    background: #fff;
  }

  button {
    border: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-size: units(8);
    font-weight: 900;
  }

  h2 {
    font-size: units(6);
    font-weight: 300;
  }
}
